{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Yi-Shan Tabitha Tsai</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- CSS -->
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700,400italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'Styles/commonT.css' %}">
    <link rel="stylesheet" href="{% static 'Styles/navStyle.css' %}">
    <!--<link rel="stylesheet" href="Styles/commonT.css" />
    <link rel="stylesheet" href="Styles/navStyle.css" /> -->

    <!-- favicon -->
    <!-- for FF, Chrome, Opera -->
    <!--<link rel="icon" type="image/png" href="/images/icons/favicon-small.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/images/icons/favicon-large.png" sizes="32x32" />-->
    <link rel="icon" type="image/png" href="{% static '/images/icons/favicon-small.png' %}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{% static '/images/icons/favicon-large.png' %}" sizes="32x32" />
    <!-- for IE -->
    <!-- <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/icons/favicon.ico" />-->
    <link rel="icon" type="image/x-icon" href="{% static '/images/icons/favicon.ico' %}" />
    <link rel="shortcut icon" type="image/x-icon" href="{% static '/images/icons/favicon.ico' %}" />

    <!-- Javascript -->
    <script src="{% static 'Scripts/jquery-1.9.1.min.js' %}"></script>
    <script src="{% static 'Scripts/modernizr.custom.js' %}"></script>
    <script>
        $(document).ready(function () {
            $("#nav-mobile").html($("#nav-main").html());
            $("#nav-trigger span").click(function () {
                if ($("nav#nav-mobile ul").hasClass("expanded")) {
                    $("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
                    $(this).removeClass("open");
                } else {
                    $("nav#nav-mobile ul").addClass("expanded").slideDown(250);
                    $(this).addClass("open");
                }
            });
            $('.hoverSeduction').hover(function () { $(this).addClass('hoverPicture'); },
                                                  function () { $(this).removeClass('hoverPicture'); });
        });

    </script>
</head>
<body>
    <div id="wrapper">
        <div id="main">
            <div class="outerContainer">
                <div class="fixedMenuBar">
                    <a href="index.html">
                        <div id="logo">
                         <!-- <img src="images/common/Tabitha-i.png" class="logoIcon" />-->
			 <img src ="{% static 'images/common/Tabitha-i.png' %}" class="logoIcon" />
                        </div>
                    </a>
                    <div id="nav-trigger">
                        <span>Menu</span>
                    </div>
                    <nav id="nav-main">
                        <ul>
                            <li><a href="#projectsAnchor">PROJECTs</a></li>
                            <li><a href="#publicationsAnchor">PUBLICATIONs</a></li>
                            <li><a href="#profileAnchor">PROFILE</a></li>
                        </ul>
                    </nav>
                    <nav id="nav-mobile"></nav>
                </div>
                <div class="innerContainer">
                    <div class="line disappear"></div>
                    <header id="objective">
                      <!--<img src="images/common/design.png" />-->
		       <img src="{% static 'images/common/design.png' %}" />
                        <article>
                            <h1>OBJECTIVE</h1>
                            <p>Use engineering background to acquire a broad range of interdisciplinary knowledge in order to deliver a successful experience to the user. </p>
                        </article>
                    </header>

                    <!-- Projects -->
                    <div class="line"></div>
                    <section id="projects">
                        <h2 id="projectsAnchor">Projects</h2>

			<!-- Django blog -->
			 <a href="projects/post_list.html">
                            <article class="hoverSeduction topLeft">
                                <header role="banner">
                                    <h3>Django Blog Practice</h3>
                                    <p>WEB DESIGN / CODING</p>
                                    <p>2017</p>
                                </header>
                                <div class="linkPicture">
				  <img src="{% static 'images/common/post_list-small.png' %}" alt="" class="smallLinkPicture" />
                                </div>
                            </article>
                        </a>

			<!--EIP-->
                        <a href="projects/eipT.html">
                            <article class="hoverSeduction topRight">
                                <header role="banner">
                                    <h3>Enterprise Integrated Portal</h3>
                                    <p>WEB DESIGN / CODING</p>
                                    <p>CHTG 2014-2016</p>
                                </header>
                                <div class="linkPicture">
                                  <!--<img src="images/common/chtgstore-small.png" alt="" class="smallLinkPicture" />-->
				  <img src="{% static 'images/common/eip-small.png' %}" alt="" class="smallLinkPicture" />
                                </div>
                            </article>
                        </a>

                        <!--CHTGSTORE-->
                        <a href="projects/chtgstoreT.html">
                            <article class="hoverSeduction bottomLeft">
                                <header role="banner">
                                    <h3>CHTG Store</h3>
                                    <p>WEB DESIGN / CODING</p>
                                    <p>CHTG 2014</p>
                                </header>
                                <div class="linkPicture">
                                 <!-- <img src="images/common/eip-small.png" alt="" class="smallLinkPicture" />-->
				  <img src="{% static 'images/common/chtgstore-small.png' %}" alt="" class="smallLinkPicture" />
                                </div>
                            </article>
                        </a>

                        <!--CHTSELFSERVICE-->
                        <a href="projects/chtselfserviceT.html">
                            <article class="hoverSeduction bottomRight">
                                <header role="banner">
                                    <h3>CHT Self-Service</h3>
                                    <p>WEB DESIGN / CODING</p>
                                    <p>CHT 2010-2013</p>
                                </header>
                                <div class="linkPicture">
                                  <!--<img src="images/common/chtselfservice-small.png" alt="" class="smallLinkPicture" />-->
				  <img src="{% static 'images/common/chtselfservice-small.png' %}" alt="" class="smallLinkPicture" />
                                </div>
                            </article>
                        </a>

                        <!--AMRT-->
                        <a href="projects/amrtT.html">
                            <article class="hoverSeduction secondRowTopLeft">
                                <header role="banner">
                                    <h3>Monitor & Recovery Tool</h3>
                                    <p>DESIGN LEAD / CODING</p>
                                    <p>CHT 2010</p>
                                </header>
                                <div class="linkPicture">
                                  <!--<img src="images/common/amrt-small.png" alt="" class="smallLinkPicture" />-->
				  <img src="{% static 'images/common/amrt-small.png' %}" alt="" class="smallLinkPicture" />
                                </div>
                            </article>
                        </a>
                    </section>

                    <!-- Publications -->
                    <section id="publications">
                        <h2 id="publicationsAnchor">Publications</h2>

                        <!--Enterprise Customer Self-Service-->
                        <article>
                            <header role="banner">
                                <h3>A Study of Enterprise Customer Self-Service</h3>
                                <p>CHT 2013</p>
                            </header>
                            <div class="publicationContent">
                                <p>With the evolution of Web-based self-service, business customers are able to use the information such as reporting a trouble ticket or checking their purchase status by themselves. That is to say, online self-service not only provides business customers with more powerful functionalities but also satisfies them by integrating with other channels which are service counters, telephoning, Websites, instant messages, mails, and emails. This paper shows the literature review of online self-service for enterprise customers, and then examines the Web self-service from Verizon, AT&T and Chunghwa Telecom. Therefore, with the comparison, we provide conclusive recommendations for improving self-service for the telecommunication industry.</p>
                                <a href="{% static 'file/A Study of Enterprise Customer Self Service.pdf' %}" target="_blank">
                                    <img class="smallDownloadPicture" src="{% static 'images/common/download.png' %}" alt="" /></a>
                            </div>
                        </article>

                        <!--THESIS-->
                        <article>
                            <header role="banner">
                                <h3>A Study of Methods and Tools for Analyzing Security Vulnerabilities in Web Applications</h3>
                                <p>NTU 2009</p>
                            </header>
                            <div class="publicationContent">
                                <p>In this thesis, our objective is to evaluate the efficacy of existing verification cation tools. To this end, we build benchmark cases containing vulnerable code that causes security problems, such as cross-site scripting and SQL injection, but some benchmark cases do not have vulnerable code, to determine if a false positive occurs after scanning those code. Specifically, we use the developed benchmark cases to test four static analysis tools that generate reports of where the vulnerable code is, and to evaluate the performance of the tools statistically. As a result, we are able to know the advantages and disadvantages of each tool, so that suggest how to improve the efficacy in developing of the code-scanning tool.</p>
                                <a href="{% static 'file/A Study of Methods and Tools for Analyzing Security Vulnerabilities in Web Applications.pdf' %}" target="_blank">
                                    <img class="smallDownloadPicture" src="{% static 'images/common/download.png' %}" alt="" /></a>
                            </div>
                        </article>

                        <!--EGOV-->
                        <article>
                            <header role="banner">
                                <h3>e-GOVERNMENT – One Stop Shop</h3>
                                <p>CCU 2007</p>
                            </header>
                            <div class="publicationContent">
                                <p>e-Government in Taiwan provided 2,588 applications through online services in 2007, but we considered that the "document re-submitting" service is inconvenient to people. If we accidentally lost, for example, ID, re-submitting process is very troublesome since we have to take day off to apply for the new card. Even worse, people should go to many places if they lost more than one card. This porject carried out a new idea that people can easily re-submit documents via the Internet with a single window service system. The system involved in good communication mechanism with government agencies to achieve an efficient operation process.</p>
                                <a href="{% static 'file/eGOVERNMENT One Stop Shop.pdf' %}" target="_blank">
                                    <img class="smallDownloadPicture" src="{% static 'images/common/download.png' %}" alt="" /></a>
                            </div>
                        </article>
                    </section>

                    <!-- Profile -->
                    <section id="profile">
                        <h2 id="profileAnchor" class="greenBackground">Profile</h2>
                        <article>
                            <img src="{% static 'images/common/tabitha.jpg' %}" class="profilePicture" />
                            <p>Hi, my name is Yi-Shan Tabitha Tsai. I came from Taiwan and have been working for 7<sup>+</sup> years (including working in the U.S.A. for 4<sup>+</sup> years.) The system building and the Web design, especially self-service and e-commerce sites, have been my major tasks after my graduation from National Taiwan University. I like learning and trying everything new whether through books, social network, online articles, and, the most often, human, especially users. Throughout the work experience these years, I believe that designers should work from the vantage point of users, their work, and their environment to build successful and powerful applications, thus, to minimize the gap between how designers/developers think people use Websites and how people actually use them. My dream is to be a professional UX/UI designer for a better world. ;P</p>
                            <a href="{% static 'file/resume.pdf' %}" target="_blank">RESUME...<img class="smallDownloadPicture" src="{% static 'images/common/download.png' %}" alt="" /></a>
                        </article>
                    </section>
                </div>
            </div>
        </div>
        <!-- #main -->


        <!-- Footer -->
        <footer role="contentinfo" class="footer">
            <!-- Footer Links -->
            <ul class="footerLeft">
                <li><a href="mailto:bigtq13@gmail.com">
                    <img src="{% static 'images/common/email.png' %}" /></a></li>
                <li><a href="https://www.linkedin.com/pub/tabitha-tsai/74/805/ba">
                    <img src="{% static 'images/common/linkedin.png' %}" /></a></li>
                <li><a href="https://get.google.com/albumarchive/104127423831097898950?source=pwa">
                    <img src="{% static 'images/common/flickr.png' %}" /></a></li>
                <li><a href="https://www.facebook.com/tabitha.tsai">
                    <img src="{% static 'images/common/facebook.png' %}" /></a></li>
            </ul>
            <p class="footerRight">© 2017 yi-shan tabitha tsai</p>
        </footer>
        <!-- /footer -->
    </div>
    <!-- /#wrapper -->
</body>
</html>
